<h2>
  Remaining possibilities ({{
  wordPossibilityService.upperBoundForPossibilities$ | async
  }})
</h2>
<ul
  #listContainer
  *ngIf="((wordPossibilityService.possibilities$ | async)?.length ?? 0) < 1000"
>
  <li
    *ngFor="
      let word of wordPossibilityService.possibilities$ | async;
      let index = index
    "
    (click)="focus($event.target)"
    tabindex="0"
    (keydown.backspace)="removeWord(word, index)"
    (keydown.delete)="removeWord(word, index)"
  >
    {{ word }}
    <button class="close" tabindex="-1" (click)="removeWord(word, index)">
      ✖
    </button>
  </li>
</ul>
