main {
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.words {
  display: flex;
  flex-direction: column;
  --gap: 0.2em;
  gap: var(--gap);
  width: fit-content;
}

.word {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  width: fit-content;
}

.letter {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  aspect-ratio: 3/1;

  div {
    flex-grow: 1;
    height: 100%;
    cursor: pointer;
  }

  .exact {
    background-color: var(--green);
  }

  .exists {
    background-color: var(--yellow);
  }

  .wrong {
    background-color: var(--red);
  }
}
