.idle,
.loading {
  display: grid;
  place-content: center;
  font-size: 2em;
  flex-grow: 1;
}

.start {
  border: none;
  outline: none;
  background-color: var(--darkend-green);
  font-size: 1em;
  color: inherit;
  padding: 0.1em 0.5em;
  border-radius: 100vh;
  cursor: pointer;
}

main {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}

.words {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  --gap: 0.2em;
  gap: var(--gap);
  width: fit-content;
}

.word {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  width: fit-content;
}

.save {
  border: none;
  background-color: var(--purple);
  color: inherit;
  font-size: 0.5em;
  padding: 0 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  min-width: 10ch;

  &[disabled] {
    color: var(--purple);
    background-color: transparent;
    outline: 1px solid currentColor;
    cursor: not-allowed;
  }
}
