<main>
  <div class="words" #wordsContainer>
    <div class="word" *ngFor="let word of guesses; let row = index">
      <app-letter
        *ngFor="let letter of word; let col = index"
        [letter]="letter"
        contenteditable
        [(ngModel)]="guesses[row][col].letter"
        (ngModelChange)="checkLetter(row, col)"
        (keyup.backspace)="backspace(row, col)"
      >
      </app-letter>
    </div>
  </div>
</main>

<div>
  <button (click)="wordPossibilitiesService.resetPossibilities(2)">
    Reset service
  </button>
  <input
    type="text"
    [(ngModel)]="requiredLetters"
    (change)="updateRequiredLetters()"
  />
  {{ (wordPossibilitiesService.possibilities$ | async)?.length }}
  <ul>
    <li
      *ngFor="
        let possibility of wordPossibilitiesService.possibilities$ | async
      "
    >
      {{ possibility }}
    </li>
  </ul>
</div>
