<main>
  <div class="idle" *ngIf="state === State.IDLE; else loadingContainer">
    <button class="start" (click)="state = State.LOADING">Start</button>
  </div>
  <ng-template #loadingContainer>
    <div class="loading" *ngIf="state === State.LOADING; else runningContainer">
      <app-loading-spinner
        (mounted)="loadPossibilities()"
      ></app-loading-spinner>
    </div>
  </ng-template>
  <ng-template #runningContainer>
    <div class="words" #wordsContainer>
      <div class="word" *ngFor="let word of guesses; let row = index">
        <app-letter
          *ngFor="let letter of word; let col = index"
          [(letter)]="guesses[row][col]"
          (letterTyped)="focusRelative(row, col, 1)"
          (backspace)="backspace(row, col)"
          [disabled]="wordStates[row] !== WordState.UNSAVED"
        ></app-letter>
        <button
          class="save"
          (click)="wordStates[row] = WordState.LOADING"
          [disabled]="wordStates[row] !== WordState.UNSAVED"
        >
          <app-loading-spinner
            *ngIf="wordStates[row] === WordState.LOADING; else saveText"
            (mounted)="commitRules(row)"
            size="small"
          ></app-loading-spinner>
          <ng-template #saveText>
            {{ wordStates[row] === WordState.UNSAVED ? 'SAVE' : 'SAVED' }}
          </ng-template>
        </button>
      </div>
    </div>
    <app-wordlist></app-wordlist>
  </ng-template>
</main>
