<main>
  <div class="words" #wordsContainer>
    <div class="word" *ngFor="let word of guesses; let row = index">
      <div class="letter" *ngFor="let letter of word; let col = index">
        <app-letter
          [letter]="letter"
          contenteditable
          [(ngModel)]="guesses[row][col].letter"
          (ngModelChange)="checkLetter(row, col)"
          (keyup.backspace)="backspace(row, col)"
        >
        </app-letter>
        <div class="buttons">
          <div class="exact" (click)="toggle(row, col, 'exact')"></div>
          <div class="exists" (click)="toggle(row, col, 'exists')"></div>
          <div class="wrong" (click)="toggle(row, col, 'wrong')"></div>
        </div>
      </div>
    </div>
  </div>
</main>

<div>
  <button (click)="wordPossibilitiesService.resetPossibilities(2)">
    Reset service
  </button>
  <input
    type="text"
    [(ngModel)]="requiredLetters"
    (change)="updateRequiredLetters()"
  />
  {{ (wordPossibilitiesService.possibilities$ | async)?.length }}
  <ul>
    <li
      *ngFor="
        let possibility of wordPossibilitiesService.possibilities$ | async
      "
    >
      {{ possibility }}
    </li>
  </ul>
</div>
