main {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.words {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  --gap: 0.2em;
  gap: var(--gap);
  width: fit-content;
}

.word {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  width: fit-content;
}

.save {
  border: none;
  background-color: var(--purple);
  color: inherit;
  font-size: 0.5em;
  padding: 0 0.5em;
  border-radius: 0.25em;
  cursor: pointer;

  &[disabled] {
    color: var(--purple);
    background-color: transparent;
    outline: 1px solid currentColor;
    cursor: not-allowed;
  }
}
