:host {
  display: flex;
  flex-direction: column;
}

input {
  aspect-ratio: 1/1;
  width: 1.2em;
  background-color: var(--light-grey);
  font-size: inherit;
  color: white;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  border: none;
}

.buttons {
  aspect-ratio: 2/1;
  display: flex;
  flex-direction: row;

  div {
    flex-grow: 1;
    cursor: pointer;
  }
}

:host.exact input,
.exact {
  background-color: var(--green);
}

:host.wrong input,
.wrong {
  background-color: var(--dark-grey);
}

:host.exists input,
.exists {
  background-color: var(--yellow);
}
