:host {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  user-select: none;

  &.unknown {
    input {
      border: 2px solid var(--grey);
    }
  }
}

input {
  aspect-ratio: 1/1;
  width: 1.2em;
  background-color: var(--result-color);
  font-size: inherit;
  color: inherit;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
  user-select: none;
}

.buttons {
  aspect-ratio: 2/1;
  display: flex;
  flex-direction: row;

  div {
    flex-grow: 1;
    cursor: pointer;

    &.exact {
      background-color: var(--darkend-green);
    }

    &.exists {
      background-color: var(--darkend-yellow);
    }
  }
}

:host.exact {
  --result-color: var(--darkend-green);
}

:host.wrong {
  --result-color: var(--dark-grey);
}

:host.exists {
  --result-color: var(--darkend-yellow);
}
