// Adapted from https://loading.io/css/

.lds-roller {
  display: inline-block;
  position: relative;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

$scales: 'small' 0.7, 'normal' 1;

$y: 63px, 68px, 71px, 72px, 71px, 68px, 63px, 56px;
$x: 63px, 56px, 48px, 40px, 32px, 24px, 17px, 12px;

@each $name, $scale in $scales {
  $size: 80 * $scale;
  $center: 40 * $scale;

  .lds-roller.#{$name} {
    transform: scale($scale);
    width: #{$size}px;
    height: #{$size}px;
  }

  .lds-roller.#{$name} div {
    transform-origin: #{$center}px #{$center}px;
  }

  @for $i from 1 through 8 {
    .lds-roller.#{$name} div:nth-child(#{$i}) {
      animation-delay: -#{0.036 * $i}s;
    }

    .lds-roller.#{$name} div:nth-child(#{$i}):after {
      top: #{$center + (nth($y, $i) - 40) / 80 * $size};
      left: #{$center + (nth($x, $i) - 40) / 80 * $size};
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
